html
{
	padding: 0;
	margin: 0;
}

body
{
	background: #2069bc url(../images/background.gif) top left repeat-x;
	padding: 15px;

	text-align: center;
	color: #777;
	font-family: "Arial", sans-serif;
	font-size: 0.8em;
}

h1
{
	color: #fff;
	padding: 0;
	margin: 0;
	font-family: "Arial", sans-serif;
	font-size: 48px;
	letter-spacing: -0.04em;
}

h3
{
	margin: 0 0 10px 0;
	padding: 0;
}

a
{
	color: #3d70a7;
	text-decoration: underline;
}

a:visited
{
	color: #0a4c92;
}

a:active
{
	color: #b2dbf8;
}

div#subheader h2
{
	padding: 0 0 10px 0;
	margin: 0;
	color: #FF8C00;
}

div#container
{
	margin: 0 auto 0 auto;
	width: 990px;

	text-align: left;
}

div#header
{
	background: #366CB3 url('../images/header.png') top center no-repeat;
	height: 100px;
	padding: 20px 0 10px 15px;

	color: #e5e5e5;
}

div#subheader
{
	padding: 10px 0 0 15px;
}

ul#navigation
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul#navigation li
{
	float: left;
	margin: 0 1px 0 0;
	padding: 8px 10px 8px 10px;
	color: #000;
	font-size: 0.8em;

	border-bottom: 1px solid #000;

	background: #fff url(../images/tab_background.gif) top left repeat-x;
	font-family: "Verdana", sans-serif;
}

ul#navigation li a
{
	color: #000;
	text-decoration: underline;
}

ul#navigation li.active
{
	font-weight: bold;
	border-bottom: 1px solid #fff;
	background: #fff;
}

div#content
{
	clear: both;
	background: #fff;

	padding: 18px 25px 18px 25px;
	line-height: 1.5em;
}

div#subcontent
{
	background: #FF8C00;
	padding: 28px 18px 18px 18px;
	color: #b0b0b0;
	font-family: "Verdana", sans-serif;
	font-size: 0.8em;
	line-height: 1.5em;
}

div#footer
{
	background: #000;
	padding: 8px 18px 8px 18px;
	color: #FF8C00;
	font-family: "Verdana", sans-serif;
	font-size: 0.8em;
	line-height: 1.5em;
}

div#footer a, div#footer a:active, div#footer a:visited
{
	font-weight: bold;
	color: #808080;
	text-decoration: none;
}

div#footer a:hover
{
	text-decoration: underline;
}

